@import "styles/colors";

.mainPageSearchSection {
  background: $primary-color;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .searchPageTitle {
      width: 60vw;
      text-align: center;

      div {
        display: flex;
        width: 60%;
        margin: 20px auto;
        justify-content: center;


        a {
          color: $orange-text;

          &:first-child {
            margin-right: 20px;
          }

          &:hover {
            color: white;
          }
        }
      }

    }

    .searchArea {
      width: 60vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $secondary-color;
      padding: 20px;

      * {
        height: 50px;
        border-radius: 5px;
      }

      input {
        padding: 10px 20px;
        border: none;
        box-sizing: border-box;
        width: 80%;
        color: $primary-color;


        &:focus {
          outline: none;
        }
      }

      button {
        width: 15%;
        background: $light-orange;
        border: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        color: white;
        cursor: pointer;

        &:hover {
          background: $dark-orange;
        }
      }
    }

    .filterArea {
      display: flex;
      justify-content: flex-start;
      background: $secondary-color;
      width: 60vw;
      padding: 20px;

      input {
        border-radius: 3px;
        border: none;
        color: $primary-color;
        margin-right: 20px;
      }

    }
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid white;
    margin-top: auto;
  }

}

.select {
  width: 300px;

  * {
    color: $primary-color !important;
    background: white !important;
  }
}

@media only screen and (max-width: 740px) {
  .mainPageSearchSection {
    .content {
      .searchArea {
        width: 100vw;

        input {
          width: 70%;
        }

        button {
          width: 25%;
        }
      }
    }
  }
}
